[data]
{{- if eq .chezmoi.hostname "workstation" }}
    usage = "eagle"
    git_name = "McAfee"
    git_email = "pmcafee@eagleinvsys.com"
{{ else }}
    usage = "personal"
    git_name = "SnarkyArtificer"
    git_email = "SnarkyArtificer@users.noreply.github.com"
{{- end }}


      