[data]
{{- if eq .chezmoi.hostname "pinhead" }}
    git_name = "SnarkyArtificer"
    git_email = "SnarkyArtificer@users.noreply.github.com"
{{- end }}
{{- if eq .chezmoi.hostname "work" }}
    git_name = "McAfee"
    git_email = "Patrick.McAfee@bnymellon.com"
{{- end }}

    