export ZSH_TMUX_AUTOSTART=false
export ZGENOM_RESET_ON_CHANGE=(${HOME}/.zshrc ${HOME}/.zshrc.local)
export EDITOR="vim"

{{- if eq .usage "eagle" }}
export VAULT_ADDR="https://vault.engops.az.eagleinvsys.com"
export PYPI_INDEX_URL="https://artifactory.engops.az.eagleinvsys.com/artifactory/api/pypi/pypi-local/simple"
export SSL_CERT_FILE="/private/etc/ssl/cert.pem"
export REQUESTS_CA_BUNDLE=$SSL_CERT_FILE
{{- end }}