Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}
  IdentityFile ~/.ssh/id_ed25519

{{- if eq .usage "eagle" }}
Host *.az.eagleinvsys.com
  AddKeysToAgent yes
  UseKeychain yes
  User ansible
  IdentityFile ~/.ssh/ansible
{{- end }}