[tools]
{{- if eq .usage "eagle" }}
    node = 'lts'
    python = ['3.10', '3.8', '3.12']
    java = ['lts', 'temurin-17', 'temurin-11' ]
    terraform = 'latest'
{{ else }}
    node = 'lts'
    python = '3.12'
    java = 'lts'
    ruby = '3'
{{- end }}

[settings]
trusted_config_paths = [
    '~/Workspaces',
]
